{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
    <h1>Questions fréquentes</h1>

    <h2>Comment acheter des billets?</h2>
    <p>La billetterie des Jeux est ouverte depuis le 9 octobre 2023. Cette vente est accessible à tous, sans tirage au sort, en temps réel et selon le principe du « premier arrivé premier servi ». 
    Tous les sports et toutes les sessions, y compris les cérémonies d’ouverture et de clôture, sont mis en vente.</p>
    
    <h2>Comment savoir s'il reste des billets disponibles pour les sessions qui m'intéressent ?</h2>
    <p>Différents sports sont à nouveau disponibles à la vente ! La billetterie connaissant un grand succès, certaines sessions sont d’ores et déjà écoulées. 
    Des billets seront régulièrement mis en vente. 
    Pour être tenu informé, consultez régulièrement ce site. Restez connecté !</p>

    <h2>Où puis-je retrouver ma commande?</h2>
    <p>Vous pouvez retrouver votre commande sur votre compte billetterie dans la section « mon compte ».</p>
{% endblock %}
