{% extends 'base.html.twig' %}
{% block title %}Conditions Génrérales de Vente
{% endblock %}
{% block body %}
	<section>
		<h1>Conditions Générales de Billetterie pour la vente de Billets Studi.Jeux Olympiques de 2024</h1>

		<p>Le Comité d’Organisation des Studi.JeuxOlympiques de 2024 a établi les présentes conditions générales de billetterie (les « Conditions Générales de Billetterie ») pour la vente et l’utilisation de Billets pour les Jeux. Les présentes Conditions Générales de Billetterie définissent les conditions dans lesquelles toute Personne peut acheter des Billets donnant accès aux Sessions des Jeux pour lesquelles un titre d’accès est requis, ainsi que les conditions d’utilisation d’un Billet par un Porteur de Billet (tels que ces termes sont ci-après définis).
		</p>

		<h2>Définitions</h2>
		<p>Dans les présentes Conditions Générales de Billetterie, les termes en majuscule ci-après auront la définition qui leur est attribuée ci-dessous, à moins qu’il ne soit précisé autrement ou que le contexte ne l'exige autrement. Le singulier/pluriel utilisé pour chacun des termes définis inclut son pluriel/singulier lorsque le contexte le requiert ou le permet.
			
			« Acheteur » désigne toute Personne ayant acquis légitimement un Billet auprès des seules sources autorisées de Billets, c’est-à-dire,  2024 ou toute Personne expressément désignée par Studi.JeuxOlympiques 2024 que ce soit individuellement, dans un Pack ou un Package d’Hospitalité conformément aux Conditions Générales de Billetterie;
			
			« Annulation définitive » désigne la situation dans laquelle une Session ne peut se tenir ou doit se tenir avec un nombre de Porteurs de Billet restreint, privant ainsi le(s) Porteur(s) de Billet concerné(s) des droits attachés à son/leur Billet ;
			
			« Anticipation » désigne la situation dans laquelle une Session reprogrammée se tiendra à une date antérieure à celle initialement programmée ;
			
			« Application Billetterie » désigne l’application officielle qui sera mise à disposition par Studi.JeuxOlympqiues 2024 pour les besoins de l’émission des Billets pour les Jeux et des contrôles d’accès aux Sites ;
			
			« Avancement » désigne la situation dans laquelle une Session débute en avance par rapport aux horaires indiqués initialement sur le Billet mais commence le même jour calendaire que celui initialement prévu ;
			
			« Billet(s) » désigne les billets officiels émis par Studi.JO 2024 permettant d’assister aux épreuves et/ou cérémonies se déroulant dans le cadre des Sessions des Jeux, lesdits Billets donnant accès respectivement à un (1) seul Porteur de Billet par Session des Jeux ;
		</p>

		<h2>Champ d’application - Opposabilité – Modification des Conditions Générales de Billetterie
		</h2>
		<p>
			Les présentes Conditions Générales de Billetterie sont applicables à tout Acheteur d’un Billet, acquis seul et/ou dans le cadre d’un Pack, sous réserve de toute limitation présente aux Conditions Particulières. Les présentes Conditions Générales de Billetterie s’appliquent également à tout Porteur de Billet et à tout Acheteur et/ou Porteur de Billet acheté dans le cadre d’un Package d’Hospitalité. Dans le cadre des présentes Conditions Générales de Billetterie, il est entendu que tout(e) invité(e) est considéré(e) comme un Porteur de Billet. Tout Porteur de Billet est tenu de se conformer aux présentes Conditions Générales de Billetterie.
			
			    Les Acheteurs reconnaissent avoir pris connaissance et accepté les présentes Conditions Générales de Billetterie préalablement à leur achat de Billet(s) et se portent fort de leur parfait respect par toute Personne ayant reçu un Billet par eux acquis, (accessible dans la section ressources du portail de billetterie client) ainsi que de toutes règles applicables au sein des Sites dans lesquels se déroulent les Sessions. En cas de contradiction entre les présentes Conditions Générales de Billetterie et les Règlements des Sites, les présentes Conditions Générales de Billetterie prévaudront.
			
			    Studi.JeuxOlympiques 2024 se réserve le droit de modifier les Conditions Générales de Billetterie à tout moment et sans préavis. Les Conditions Générales de Billetterie applicables sont celles acceptées à la date d’achat du/des Billet(s). Tous les Acheteurs acceptent les présentes Conditions Générales de Billetterie pour eux-mêmes et au nom de tous Porteurs de Billets que l’Acheteur invite (i.e l’Acheteur doit s’assurer que le Porteur de Billet légitime, ou le représentant légal ou le tuteur agissant au nom du Porteur de Billet invité, comprend, accepte et se conforme aux présentes Conditions Générales de Billetterie).
			
			    Les droits des Porteurs de Billets concernant les Billets sont limités à ceux expressément accordés par Studi.JO 2024 en vertu des Conditions Générales de Billetterie et à toute mention figurant sur le Billet. Studi.JO 2024 peut établir des règles distinctes et/ou des Conditions Particulières pour tout événement spécifique organisé par Studi.JO 2024 ou pour toute population spécifique (telle que, par exemple, les personnes morales), auquel cas, les Porteurs de Billets concernés seront soumis à ces règles distinctes et/ou Conditions Particulières, en plus des Conditions Générales de Billetterie. En cas de contradiction entre ces règles distinctes et/ou Conditions Particulières et les Conditions Générales de Billetterie, les premières prévaudront pour les stipulations concernées. Studi.JeuxOlympiques 2024 se réserve la possibilité, en complément des présentes Conditions Générales de Billetterie, d’informer ultérieurement tout Porteur de Billet de tout élément concernant l’exécution des obligations prévues aux présentes Conditions Générales de Billetterie, sans que ces informations ne remettent en cause l’objet principal des prestations.
		</p>

		<h2>Conditions et procédures d’achat des Billets sur la Billetterie Officielle Studi.JeuxOlympiques 2024
		</h2>
		<p>
			L’achat de Billet(s) sur la Billetterie Officielle est ouvert à toute personne physique de plus de 16 ans ou toute personne morale autorisée, le cas échéant, conformément aux Conditions Particulières qui lui sont applicables.
		</p>
		<p>
			Sous réserve des Conditions Particulières applicables à certains groupes ou certains évènements, Studi.JeuxOlympiques 2024 se réserve le droit de limiter le nombre global de Billets, ainsi que le nombre de Billets par sport ou par Session pouvant être achetés par un Acheteur par le biais de son compte individuel tel qu’il sera précisé sur la Billetterie Officielle Studi.JeuxOlympiques 2024. En cas de dépassement de ces limites, Studi.JeuxOlympiques 2024 se réserve le droit de refuser la vente, d’annuler toute commande ou Billet et/ou de refuser l’accès à tout Porteur de Billet acheté en excès du nombre de Billets autorisé par Studi.JeuxOlymqies 2024.
		</p>


	</section>
{% endblock %}
