{% extends 'base.html.twig' %}

{% block title %}Payment Fail!{% endblock %}

{% block body %}


    <h1>Merci pour cette tentative</h1>
    <p>
        Mais votre paiement a échoué!
    </p>

<div>

</div>
{% endblock %}