{% extends 'base.html.twig' %}

{% block title %}Payement Success!{% endblock %}

{% block body %}

    <h1>Merci pour votre commande!</h1>
    <p>
        Vous pouvez la consulter dans votre profil
    </p>

<div>

</div>
{% endblock %}