// customize some Bootstrap variables
$info: #6e9289;
$secondary: #323b3c;
$success: #9ae1d3;
$primary: #c7f6a8;
$alert:#f6f6f6;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";